$color-secondary: #55c57a;
$color-secondary-light:#7ed56f;
$color-secondary-dark:#28b485;
$color-white: #fff;
$color-grey: #777;
$border-radius: 100%;
$color-black: #000;
$color-grey1: #f7f7f7;
$color-yellow-light: rgba(236, 170, 29, 0.842);
$color-blue-light: rgb(0, 119, 255);
$color-blue-dark: rgb(81, 10, 247);
$color-black-light: #333;
$color-yellow-dark: rgb(250, 100, 0);
$color-primary: #00ff87;
$color-primary-light: #60efff;
$color-primary-dark: #0061ff;
$color-new-dark: #ff930f;
$color-new-light: #fff95b;


